<div class="container">
    <div class="list-group">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="" alt="" class="car-img">
                </div>

                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant Name</h5>
                        <p class="card-text">
                            some details:such as address
                        </p>
                        <p class="card-text">
                            <small class="badge badge-primary">Open/Close</small>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="" class="btn btn-primary mt-2">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
