<!-- <header>
    {{resTitle}}
</header> -->

<!-- <div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-4"></h1>
        <p class="lead">Lorem, ipsum dolor.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, dolorum.</p>
        <p class="lead">
            <a href="#" role ='button'class="btn btn-primary btn-lg">choose Restaurant</a>
        </p>

    </div>
</div> -->

<!-- <p>{{myTitle}}</p> -->

<!-- <router-outlet></router-outlet> -->
<div class="container">
    <h2 class="mt-2">Find Restaurants</h2>
    <!-- <restaurant-list></restaurant-list> -->
</div>